body, header, a, main, div, h3, footer {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* main-axis vertical */
  align-items: center; /* cross axis horizontal */
  align-content: stretch; /* cross axis horizontal */
}

.grow { flex: 1 }

.fill-area-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.fill-area-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song { margin: 10px 0; }

h1 { margin: 10px 0 0 0; }

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

a:hover { color: gray; }

main { min-height: 80vh; }

.link {
  color: #323232;
  display: inline-block;
  margin: 0;
  padding: 3px;
  font-size: 18px;
  text-shadow: -1px 1px #EEEEEE;
  border: none;
}

input {
  margin: 1px 0 10px 0;
}
